[package]
name = "rust-bpm-analyzer"
version = "0.0.1"
edition = "2024"

[dependencies]
# Audio
cpal = "0.16.0"
# Sync
rusty_link = "0.4.6"
# DSP
biquad = "0.5.0"

# Dépendances spécifiques à Linux (Milk-V Duo, Raspberry Pi, Desktop Linux)
[target.'cfg(target_os = "linux")'.dependencies]
gpio-cdev = "0.6.0"
